################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Main/bin/Debug/net7.0
/Main/obj
/Main/bin/Release/net7.0
/Main/Properties/PublishProfiles
/Main.Infrastructure/bin/Debug/net7.0
/Main.Infrastructure/obj
/Main.Services/bin/Debug/net7.0
/Main.Services/obj
/Main.Infrastructure/bin/Release/net7.0
/Main.Services/bin/Release/net7.0
